body
{

}

.console
{
	color: rgb(85, 85, 85);
	font-family: monospace;
	font-size: 24px;
	margin-top: 10px;
	margin-left: 10px;
  	/*font-family: "Courier","American Typewriter", monospace, "Courier New", monospace;
  	font-size: 16pt;*/
  	max-width: 600px;
  	word-break: break-all;

}

